.carta, .front{
padding-left: 0.1%;
padding-right: 0.1%;
padding-bottom: 0.1%;
display: block;
width: 80%;
height: 80%; }

img{
    height: 200px;
    width: 200px;
    
}
body{
text-align: center;
background-color: rgb(5, 5, 5);
height: 1vw;
}
.front{
    display: none;
}

#titulo{
    color: rgb(230, 25, 25);
}
